.slide {
  padding-top: 40px;
}
h4 {
  margin-bottom: 0;
}

.slide a {
  color: #E74727;
}

#cover {
  /* background-color: #181818; */
  background-color: #E74727;
}

#cover:after {
  color: transparent;
}

#cover h2 {
  margin: 30px 0 0;
  color: #FFF;
  font-size: 80px;
}

#cover p {
  margin: 20px 0 0;
  color: #FFF;
  font-size: 20px;
}

#cover p a {
  color: #000;
  text-decoration: none;
  background: none;
  font-weight: bold;
}

#about {
  background-color: #E74727;
}

#about:after {
  color: transparent;
}

#about.slide a {
  background: none;
  color: #fff;
}

#about h3 {
  margin: 30px 0 0;
  color: #000;
  /* font-size: 80px; */
}

#about p {
  margin: 20px 0 0;
  color: #FFF;
  font-size: 20px;
}

#about h3 {
  color: #FFF;
  text-decoration: none;
  background: none;
  font-weight: bold;
  font-size: 80px;
}

#about h3 a {
  color: #fff;
  background: none;
}

#about p.twitter-wrapper {
  margin-top: 250px;
}

#about p a.twitter {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  color: #000;
}

#about p a.twitter img {
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -5px;
}

.hero {
  background-color: #181818;
}

.hero h2 {
  /* margin: 30px 0 0; */
  color: #FFF;
  font-size: 80px;
}

.hero .eyebrow {
  color: #E74727;
  margin-bottom: 0;
}

.slide .eyebrow-bad {
  color: #E74727;
}

.slide .eyebrow-good {
  color: #009A5E;
}

.slide blockquote {
  font-size: 3rem;
  line-height: 1.5;
}

.shower.list .badge {
  display: none;
}

#see-more h2 {
  font-size: 100px
}

#see-more img {
  width: 0.72em;
  height: 0.72em;
}

.shower.full .slide .shout.grow,
.shower.full .slide .shout.shrink {
  transition-duration: 1s;
}

.view-all {
  float: right;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding: 10px;
}

.emoji-img {
  font-size: 15rem;
  float: left;
  margin-right: 60px;
}

.p-large {
  font-size: 2rem;
  line-height: 1.7;
}

.p-second {
  color: #4c4c4c;
}

video {
  height: 85%;
}